.show-data-wrapper {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5px;
}

.show-data-wrapper>* {
    display: block;
}

.base-crs {
    color: #70757a;
    font-size: 16px;
    line-height: 1.2;

}

.crs-convert-to {

    font-size: 36px;
    font-weight: normal;
    color: #222;
    line-height: 1.2;


}

.crs-date {
    line-height: 1.2;
    color: #70757a;
    font-size: 12px;
}
